.App {
  text-align: center;
}

/* LogIn */
.LogIn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.LoginForm {
  width: 50vh;
  height: 25px;
  margin: 10px;
}

/* NavBar */
.Navbar {
  display: block;
  list-style-type: none;
  height: 40px;
  margin: 0;
  padding: 0;
}

.NavLink {
  display: block;
  padding: 8px;
}

.NavLeft {
  float: left;
}

.NavRight {
  float: right;
}

.NavAvatar {
  margin: 1px;
  margin-top: 5px;
  height: 28px;
  width: 28px;
}

/*Dashboard*/

.PollsContainer {
  margin: 5px 30px 5px 30px;
  border: 2px solid black;
}

h4 {
  padding: 5px 0px 5px 0px;
  margin: 0;
  border-bottom: 2px solid black;
}

.Poll {
  height: 100px;
  width: 150px;
  margin: 5px;
  padding: 2px;
  border: 2px solid black;
}

.PollsFlex {
  display: flex;
}

p {
  margin: 5px;
}